h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
  font-weight: 700;
}
.usa-grid {
  max-width: 90ch;
  margin-left: auto;
  margin-right: auto;
}

button.usa-accordion-button {
  font-weight: 400;
}

.usa-accordion button:focus,
.usa-accordion-bordered button:focus {
    box-shadow: none;
}

.usa-accordion-content {
  padding: 1rem;
}

.usa-alert.usa-alert-info {
  margin-bottom: 6rem;
}

.usa-alert.usa-alert-warning .usa-alert-text {
  font-size: 92%;
}

tt, code, pre {
   font-family: 'Source Code Pro', monospace;
   font-size: 92%;
}

pre {
  overflow-x: auto;
  margin-bottom: 0;
}

pre code {
   display: block;
   padding: 0.5rem;
}

.sourceCode + pre {
   margin-top: 0.5rem;
}

code {
  border: 1px solid #dce4ef;
  border-radius: 3px;
  line-height: 1.35em;
}

p code,
li code,
span code {
  border: 0;
  color: #046b99;
  border-radius: 1px;
  font-size: 85%;
}

code[class] {
  background-color: #f1f1f1;
}

.title {
  border-bottom: 1px solid #323a45;
}

.author {
  padding-bottom: 1rem;
  font-weight: 400;
}

.subtitle {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  color: #5b616b;
}

.compile-date {
  position: relative;
  top: 0;
  color: #5b616b;
  background-color: #efefef;
  width: 60%;
  height: 1.4em;
  font-size: 92%;
  text-align: right;
  float: right;
}

.author-afil
 {
  font-size: 92%;
}

address p {
  margin-bottom: 0;
  padding-bottom: 0;
}

table {
  width: 100%;
  font-size: 92%;
}

table td, table th {
  font-size: 92%;
  border-left: none;
  border-right: none;
}

footer {
  font-size: 82%;
}

.usa-footer-slim-logo-img {
  float: left;
  max-width: 6rem;
}

.usa-footer-slim-logo-heading {
  padding-left: 1.5rem;
  padding-top: 0;
}

blockquote {
  display: block;
  background: #e4e2e0;
  border-left: 5px solid #494440;
  padding: 5px 10px 5px 35px;
  margin-left: 20px;
  margin-right: 0px;
  position: relative;
  font-size: 92%;
  color: #494440;
}

p.caption {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #5b616b;
  margin-bottom: 5rem;
  margin-right: 4rem;
}

caption {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #5b616b;
  margin-bottom: 3rem;
}

.figure {
  margin-top: 5rem;
}